*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;

}
html,body{
    width: 100%;
    height: 100%;

}
.nav{
    width: 100%;
    height: 100%;
    display: grid; 
    grid-template-columns:25% 25% 50%;
    grid-template-rows: 10% 80% 10%;
}

.left-top{
    grid-column: 1/3;
    padding: 25px ;
padding-left: 100px;
    font-weight: bold;
    font-size: 30px;
    
}
.two{
    background-color:#ffc107;
    grid-column: 3/4;
    grid-row: 1/4;
}
.img{
    width: 100%;
    height: 100vh;
    object-fit: contain;
    background-position: center;
}
.left-mid{
    grid-column: 1/3;
    padding: 25px;
    padding-left: 100px;
   align-content: center;

}
.mid-one{
    color: #ffc107;
}
.mid-center{
    font-size: 5vh;

}
.mid-bottom{
    padding-top: 25px;
}
.more{
    padding: 15px;
    background-color: #ffc107;

}
a{
    text-decoration: none;
    color: white;
}
.hireme{
    padding: 15px;
    color: black;
}
.bottom{
    grid-column: 1/3;
    padding: 25px;
    padding-left: 100px;
color: rgb(169, 169, 169);
 align-content: center;
}
@media (max-width:600px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html, body{
        width: 100%;
        height: 100%;
    }
    .nav{
        width: 100%;
        height: 100%;
        display: grid; 
        grid-template-columns:25% 25% 50%;
        grid-template-rows: 10% 80% 10%;
    }
    .left-top{
        grid-column: 1/4;
        padding: 25px ;
    padding-left: 25px;
        font-weight: bold;
        font-size: 30px;
        align-content: center;
    }
    .two{
        position: relative;
        background-color:#ffc107;
        grid-column: 1/4;
        grid-row: 2/3;
    }
    .img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-position: bottom;
        
    }
    .left-mid{
        top: 25%;
        position: absolute;
        grid-column: 1/4;
        padding: 25px;
        padding-left: 50px;
        align-content: center;
    }
    .mid-one{
        color: #f8f8f8;
    }
    .mid-center{
        font-size: 5vh;
    
    }
    .mid-bottom{
        padding-top: 25px;
    }
    .more{
        padding: 15px;
        background-color: #ffc107;
    
    }
    a{
        text-decoration: none;
        color: white;
    }
    .hireme{
        padding: 15px;
        color: black;
    }
    .bottom{
        grid-column: 1/4;
        padding: 25px;
        padding-left: 30px;
    color: rgb(169, 169, 169);
    font-size: 2vh;

    }
    
}
